.container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  overflow: hidden;
}
.stats {
  top: unset !important;
  left: unset !important;
  right: 0 !important;
  bottom: 0 !important;
}
